<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>id_00.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>418</integer>
            </dict>
            <key>id_01.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>366</integer>
            </dict>
            <key>id_02.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>314</integer>
            </dict>
            <key>id_03.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>314</integer>
            </dict>
            <key>id_04.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>418</integer>
            </dict>
            <key>id_05.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>366</integer>
            </dict>
            <key>id_06.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>314</integer>
            </dict>
            <key>id_07.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>id_08.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>id_09.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>id_10.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>418</integer>
            </dict>
            <key>id_11.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>366</integer>
            </dict>
            <key>id_12.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>314</integer>
            </dict>
            <key>id_13.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>262</integer>
            </dict>
            <key>id_14.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>210</integer>
            </dict>
            <key>id_15.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>210</integer>
            </dict>
            <key>id_16.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>210</integer>
            </dict>
            <key>id_17.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>210</integer>
            </dict>
            <key>id_18.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
            <key>id_19.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
            <key>id_20.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
            <key>id_21.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>158</integer>
            </dict>
            <key>id_22.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>106</integer>
            </dict>
            <key>id_23.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>106</integer>
            </dict>
            <key>id_24.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>106</integer>
            </dict>
            <key>id_25.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>106</integer>
            </dict>
            <key>id_26.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>54</integer>
            </dict>
            <key>id_27.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>54</integer>
            </dict>
            <key>id_28.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>54</integer>
            </dict>
            <key>id_29.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>54</integer>
            </dict>
            <key>id_30.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>158</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>id_31.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>106</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>id_32.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>54</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>id_33.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>50</integer>
                <key>width</key>
                <integer>50</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>disk.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08f5d23776b9b5da3e0b5d1c74023dec:079edd3d7c5281b8e8995af96ecca9b5:4c7ef4b97274db704c25a6c7bef3b72b$</string>
            <key>textureFileName</key>
            <string>disk.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>256</integer>
        </dict>
    </dict>
</plist>
